<%- include("./partials/header")%>
<div class="collapse navbar-collapse" id="example-1">
  <% if(currentUser) {%>
  <ul class="nav navbar-nav">
      <li><a href="/purchase">مشتريات </a></li>
      <li><a href="/order">طلبيات</a></li>
      <li><a href="/wholesale">جملة</a></li>
      <li><a href="/sale">مبيعات</a></li>
      <li><a style="color: #fff;background-color:#337ab7 ; " href="/math">محاسبة</a></li>
  </ul>
<% } %>
  <ul class="nav navbar-nav navbar-left">
      <% if(!currentUser) { %>
      <li><a class="nav-link" href="/login">دخول</a></li>
      <li><a class="nav-link" href="/register">تسجيل</a></li>
      <% } else { %>
      <li><a class="nav-link" href="/logout">خروج</a></li>
      <% } %>
  </ul>
</div>

</div>
</nav>

<div class="container">
    <h3>مجمل الأرباح:  <%=rev%> شيكل</h3>
    <hr>
    <h4>الأرباح حسب النوع</h4>
    <script>
      var items = '<%- JSON.stringify(items) %>'  
   </script>
    <h6> إختر المنتج من القائمة المنسدلة لترى مجمل الأرباح في صندوق الوصف</h6>
   <!--<form action="/netrev/" method="POST" >-->
    <div class="form-group">
      <select id="it" class="form-control" onchange="myFunction()" name="type" style="width:30%">
          <% for(var i=0; i<items.length; i++){ %>
              <option value="<%=items[i].type%>"><%= items[i].type %> </option>
          <% } %>

      </select>
    </div>
    <!--</form>-->
    <h4>مجمل الأرباح للنوع المحدد:  <%=itemre%> شيكل</h4>

  </div>

  <script>
    items = JSON.parse(items);
    function myFunction(){
      var id;
      var xhr = new XMLHttpRequest();
      var type = document.getElementById("it").value;
      for(let i=0; i<items.length; i++){
        if(items[i].type == type){
          id = items[i]._id;
          break;
        }
      }
      const Url = '/math/'+id;
      console.log(Url);
      xhr.open("POST", Url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send();

    }
  </script>
<%- include("./partials/footer")%>
