<%- include("./partials/header")%>
<div class="collapse navbar-collapse" id="example-1">
  <% if(currentUser) {%>
  <ul class="nav navbar-nav">
      <li><a href="/purchase">مشتريات </a></li>
      <li><a href="/order">طلبيات</a></li>
      <li><a href="/wholesale">جملة</a></li>
      <li><a href="/sale">مبيعات</a></li>
      <li><a style="color: #fff;background-color:#337ab7 ; " href="/math">محاسبة</a></li>
  </ul>
<% } %>
  <ul class="nav navbar-nav navbar-left">
      <% if(!currentUser) { %>
      <li><a class="nav-link" href="/login">دخول</a></li>
      <li><a class="nav-link" href="/register">تسجيل</a></li>
      <% } else { %>
      <li><a class="nav-link" href="/logout">خروج</a></li>
      <% } %>
  </ul>
</div>

</div>
</nav>
<script>
      var items = '<%- JSON.stringify(items) %>'  
      var foundOrders = '<%- JSON.stringify(foundOrders) %>' 
      var foundTasleem= '<%- JSON.stringify(foundTasleem) %>' 
      var foundWOrders= '<%- JSON.stringify(foundWOrders) %>' 
</script>
<div class="container">

    <h3 style="font-weight: bold;">مجمل الأرباح:  <%=rev%> شيكل</h3>
    <hr>
    <br>
    <h3 style="font-weight: bold;">الأرباح حسب النوع</h3>
    <div class="row">
        <h6> إختر المنتج من القائمة المنسدلة لترى مجمل الأرباح في صندوق الوصف</h6>
        <div class="col-md-4 col-sm-5 col-xm-7">
            <div class="form-group" >
              <select id="it" class="form-control" onchange="myFunction()" name="type">
                  <% for(var i=0; i<items.length; i++){ %>
                      <option value="<%=items[i].type%>"><%= items[i].type %> </option>
                  <% } %>
              </select>
            </div>
            <h4>مجمل الأرباح للنوع المحدد:  <span id="itemRev"></span> شيكل</h4>
        </div>
    </div>
    <hr>
    <br>

</div>

  <script>
    items = JSON.parse(items);
    foundOrders = JSON.parse(foundOrders);
    foundTasleem = JSON.parse(foundTasleem);
    foundWOrders = JSON.parse(foundWOrders);
    myFunction();
    function myFunction(){
      var id;
      var type = document.getElementById("it").value;
      let itemrev=0;
      for(var i=0; i<foundOrders.length; i++){              
        for(var j=0;j<foundOrders[i].items.length;j++){
          if(foundOrders[i].items[j].type==type)
            itemrev+= (foundOrders[i].items[j].priceForEachOne- foundOrders[i].items[j].originalPriceForEachOne)*foundOrders[i].items[j].amount;
        }
                  
      }
      for(var i=0; i<foundWOrders.length; i++){
        for(var j=0;j<foundWOrders[i].items.length;j++){
          if(foundWOrders[i].items[j].type==type)
            itemrev+= (foundWOrders[i].items[j].priceForEachOne- foundWOrders[i].items[j].originalPriceForEachOne)*foundWOrders[i].items[j].amount;
        }     
      }
      for(var i=0; i<foundTasleem.length; i++){
        for(var j=0;j<foundTasleem[i].items.length;j++){
          if(foundTasleem[i].items[j].type==type)
            itemrev+= (foundTasleem[i].items[j].priceForEachOne- foundTasleem[i].items[j].originalPriceForEachOne)*foundTasleem[i].items[j].amount;
        }
      }      
      var itemRev = document.getElementById("itemRev");
      itemRev.innerHTML = itemrev;
    }
  </script>
<%- include("./partials/footer")%>
