<%- include("./partials/header")%>
<div class="collapse navbar-collapse" id="example-1">
  <% if(currentUser) {%>
  <ul class="nav navbar-nav">
      <li><a href="/purchase">مشتريات </a></li>
      <li><a style="color: #fff;background-color:#337ab7 ; " href="/order">طلبيات</a></li>
      <li><a href="/wholesale">جملة</a></li>
      <li><a href="/sale">مبيعات</a></li>
      <li><a href="/math">محاسبة</a></li>

  </ul>
<% } %>
  <ul class="nav navbar-nav navbar-left">
      <% if(!currentUser) { %>
      <li><a class="nav-link" href="/login">دخول</a></li>
      <li><a class="nav-link" href="/register">تسجيل</a></li>
      <% } else { %>
      <li><a class="nav-link" href="/logout">خروج</a></li>
      <% } %>
  </ul>
</div>

</div>
</nav>

<div class="container">
    <h2 style="font-weight: bold;">الطلبيات</h2>
    <br>

    <a href="/order/new" class="btn btn-primary btn-default" style="width:30%">إضافة طلبية</a>
    <br>
    <br>
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-12">
    <h3 style="font-weight: bold;"> طلبيات التسليم</h3>
    <% for(let i= tasleem.length-1; i>=0 ; i--) { %>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
             <p><strong>الإسم: </strong><%=tasleem[i].personName%></p> 
             <p><strong>تاريخ التسليم: </strong><%=tasleem[i].dateToCompany.getDate()%>-<%=tasleem[i].dateToCompany.getMonth()%>-<%=tasleem[i].dateToCompany.getFullYear()%></p> 
             <p><strong>الخصم: </strong><%=tasleem[i].discount%></p>
             <p><strong>السعر الكلي بعد الخصم: </strong><%=tasleem[i].finalCost %> شيكل</p>
             <p><strong>ملاحظات: </strong><%=tasleem[i].notes%></p>
            </div>
            <div class="col-md-6">
              <table class="table">

                <thead>
                  <tr>
                    <th scope="col">النوع </th>
                    <th scope="col">الكمية</th>
                    <th scope="col">السعر</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <% for(let j=0; j<tasleem[i].items.length; j++) {%>
                    <tr>
                        
                        <td><strong><%= tasleem[i].items[j].type %></strong> </td>
                        <td> <%= tasleem[i].items[j].amount %></td>
                        <td> <%= tasleem[i].items[j].priceForEachOne * tasleem[i].items[j].amount %>شيكل </td>                   
                      </tr>
                    <% } %>
                 
                </tbody>
              </table>
            </div>
            <div class="col-md-1">
              <form action="/order/<%=tasleem[i]._id%>" method="POST">
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-xm" >+</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>

    </div>
    <div class="col-md-6 col-sm-12">
    <h3 style="font-weight: bold;"> طلبيات التوصيل</h3>
    <% for(let i=tawseel.length-1; i>=0 ; i--) { %>
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
             <p><strong>الإسم: </strong><%=tawseel[i].personName%></p> 
             <p><strong>تاريخ التوصيل: </strong><%=tawseel[i].dateToCompany.getDate()%>-<%=tawseel[i].dateToCompany.getMonth()%>-<%=tawseel[i].dateToCompany.getFullYear()%></p> 
             <p><strong>تكاليف التوصيل: </strong><%=tawseel[i].extraForDelivery%></p>
             <p><strong>الخصم: </strong><%=tawseel[i].discount%></p>
             <p><strong>السعر الكلي بعد الخصم: </strong><%=tawseel[i].finalCost %></p>
             <p><strong>مكان السكن: </strong><%=tawseel[i].personLocation%></p>
             <p><strong>تلفون: </strong><%= tawseel[i].personNumber%></p>
             <p><strong>ملاحظات: </strong><%=tawseel[i].notes%></p>
            </div>
            <div class="col-md-6">
              <table class="table">

                <thead>
                  <tr>
                    <th scope="col">النوع </th>
                    <th scope="col">الكمية</th>
                    <th scope="col">السعر</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <% for(let j=0; j<tawseel[i].items.length; j ++) {%>
                    <tr>
                        
                        <td><strong><%= tawseel[i].items[j].type %></strong> </td>
                        <td> <%= tawseel[i].items[j].amount %></td>
                        <td> <%= tawseel[i].items[j].priceForEachOne * tawseel[i].items[j].amount %>شيكل </td>                   
                      </tr>
                    <% } %>
                 
                </tbody>
              </table>
            </div>
            <div class="col-md-1">
              <form action="/order/<%=tawseel[i]._id%>" method="POST">
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-xm" >+</button>
                </div>
            </form>
              
            </div>
          </div>
        </div>
      </div>
    <% } %>
    </div>
    </div>

</div>
<%- include("./partials/footer")%>