<%- include("./partials/header")%>
<div class="collapse navbar-collapse" id="example-1">
  <% if(currentUser) {%>
  <ul class="nav navbar-nav">
      <li><a style="color: #fff;background-color:#337ab7 ; " href="/purchase">مشتريات </a></li>
      <li><a  href="/order">طلبيات</a></li>
      <li><a href="/wholesale">جملة</a></li>
      <li><a href="/sale">مبيعات</a></li>
      <li><a href="/math">محاسبة</a></li>

  </ul>
<% } %>
  <ul class="nav navbar-nav navbar-left">
      <% if(!currentUser) { %>
      <li><a class="nav-link" href="/login">دخول</a></li>
      <li><a class="nav-link" href="/register">تسجيل</a></li>
      <% } else { %>
      <li><a class="nav-link" href="/logout">خروج</a></li>
      <% } %>
  </ul>
</div>

</div>
</nav>
<div class="container">
    <h2 style="font-weight: bold;">المشتريات / المستودع </h2>
    <br>

    <a href="/purchase/newArchive" class="btn btn-primary btn-default" style="width:30%">إضافة مشتريات</a>
    <br>
    <br>
    <div style="width:30%">
      <h4 style="font-weight: bold;">إضافة نوع منتج جديد</h4>
      <form action="/purchase/newWarehouse" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="type" placeholder="النوع الجديد" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number"step="any"  name="originalPrice"  placeholder="سعر الجملة" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" step="any" name="retailPrice" placeholder="سعر المفرق" required>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-success btn-block btn-sm">إضافة  </button>
        </div>
    </form>
    </div>
    <br>
    <hr>
    
    <h3 style="font-weight: bold;">المستودع </h3>
  <table class="table" style="width: 40%">

  <thead>
    <tr>
      <th scope="col">النوع </th>
      <th scope="col"> الكمية الكلية</th>
      <th scope="col">سعر الجملة </th>
      <th scope="col">سعر المفرق </th>
    
    </tr>
  </thead>
  <tbody>
    
      <% for(var j=0; j<warehouseIte.length; j ++) {%>
      <tr>
          <td><strong><%= warehouseIte[j].type %></strong> </td>
          <td> <%= warehouseIte[j].number %></td>
          <td> <%= warehouseIte[j].originalPrice %> شيكل</td>
          <td> <%= warehouseIte[j].retailPrice %> شيكل</td>
         
        </tr>
      <% } %>
   
  </tbody>
</table> 
    
   
  <br>
  <hr>
  <h3 style="font-weight: bold;">أرشيف المشتريات </h3>
  <table class="table">

  <thead>
    <tr>
      <th scope="col">النوع </th>
      <th scope="col">المصدر </th>
      <th scope="col">الكمية</th>
      <th scope="col">جملة القطعة</th>
      <th scope="col">المبلغ المدفوع</th>
      <th scope="col">تاريخ الوصول</th>
      <th scope="col">ملاحظات أخرى</th>
    </tr>
  </thead>
  <tbody>
    
      <% for(var j=ArchiveItems.length-1; j>=0; j --) {%>
      <tr>
          
          <td><strong><%= ArchiveItems[j].type %></strong> </td>
          <td> <%= ArchiveItems[j].source %></td>
          <td> <%= ArchiveItems[j].amount %></td>
          <td> <%= ArchiveItems[j].wholesalePrice %></td>
          <td> <%=ArchiveItems[j].amount* ArchiveItems[j].wholesalePrice%></td>
          <td> <%= ArchiveItems[j].dateDelivered.getDate() %>-<%= ArchiveItems[j].dateDelivered.getMonth() %>-<%= ArchiveItems[j].dateDelivered.getFullYear() %></td>
          <td> <%= ArchiveItems[j].notes %></td>
                            
        </tr>
      <% } %>
   
  </tbody>
</table> 
  </div>
  <%- include("./partials/footer")%>
