<%- include("./partials/header")%>
<div class="container">
    <h2>المشتريات / المستودع </h2>
    <br>

    <a href="/purchase/newArchive" class="btn btn-primary btn-default" style="width:30%">إضافة مشتريات</a>
    <!-- <a href="/purchase/newOffline" class="btn btn-primary">إضافة مشتريات محلية</a> -->
    <br>
    <br>
    <div style="width:30%">
      <h4>إضافة نوع منتج جديد</h4>
      <form action="/purchase/newWarehouse" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="type" placeholder="النوع الجديد" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="retailPrice" placeholder="سعر المفرق" required>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-success btn-block btn-sm">إضافة  </button>
        </div>
    </form>
    </div>
    <br>
    <hr>
    
    <h3>المستودع </h3>
  <table class="table" style="width: 40%">

  <thead>
    <tr>
      <th scope="col">النوع </th>
      <th scope="col"> الكمية الكلية</th>
      <th scope="col">سعر المفرق </th>
    
    </tr>
  </thead>
  <tbody>
    
      <% for(var j=0; j<warehouseIte.length; j ++) {%>
      <tr>
          <td><strong><%= warehouseIte[j].type %></strong> </td>
          <td> <%= warehouseIte[j].number %></td>
          <td> <%= warehouseIte[j].retailPrice %> شيكل</td>
         
        </tr>
      <% } %>
   
  </tbody>
</table> 
    
   
  <br>
  <hr>
  <h3>أرشيف المشتريات </h3>
  <table class="table">

  <thead>
    <tr>
      <th scope="col">النوع </th>
      <th scope="col">المصدر </th>
      <th scope="col">الكمية</th>
      <th scope="col">جملة القطعة</th>
      <th scope="col">المبلغ المدفوع</th>
      <th scope="col">تاريخ الوصول</th>
      <th scope="col">ملاحظات أخرى</th>
    </tr>
  </thead>
  <tbody>
    
      <% for(var j=ArchiveItems.length-1; j>=0; j --) {%>
      <tr>
          
          <td><strong><%= ArchiveItems[j].type %></strong> </td>
          <td> <%= ArchiveItems[j].source %></td>
          <td> <%= ArchiveItems[j].amount %></td>
          <td> <%= ArchiveItems[j].wholesalePrice %></td>
          <td> <%=ArchiveItems[j].amount* ArchiveItems[j].wholesalePrice%></td>
          <td> <%= ArchiveItems[j].dateDelivered.getDate() %>-<%= ArchiveItems[j].dateDelivered.getMonth() %>-<%= ArchiveItems[j].dateDelivered.getFullYear() %></td>
          <td> <%= ArchiveItems[j].notes %></td>
                            
        </tr>
      <% } %>
   
  </tbody>
</table> 
  </div>
  <%- include("./partials/footer")%>
