<%- include("./partials/header")%>
<div class="collapse navbar-collapse" id="example-1">
    <% if(currentUser) {%>
    <ul class="nav navbar-nav">
        <li><a style="color: #fff;background-color:#337ab7 ; " href="/purchase">مشتريات </a></li>
        <li><a  href="/order">طلبيات</a></li>
        <li><a href="/wholesale">جملة</a></li>
        <li><a href="/sale">مبيعات</a></li>
        <li><a href="/math">محاسبة</a></li>

    </ul>
  <% } %>
    <ul class="nav navbar-nav navbar-left">
        <% if(!currentUser) { %>
        <li><a class="nav-link" href="/login">دخول</a></li>
        <li><a class="nav-link" href="/register">تسجيل</a></li>
        <% } else { %>
        <li><a class="nav-link" href="/logout">خروج</a></li>
        <% } %>
    </ul>
  </div>
  
  </div>
  </nav>

<div class="container">

    <div class="row">
        <h1 style="text-align: center; font-weight: bold;">إضافة مشتريات إلى أرشيف المشتريات</h1>
        <br>
        <div class="col-md-4 col-xm-8" style="float: none; margin-right: auto; margin-left: auto;">
            <form action="/Archive" method="POST" onsubmit="myButton.disabled = true; return true;">
                <script>
                    var items = '<%- JSON.stringify(items) %>'  
                 </script>

                <div class="form-group">
                    <select id="it" class="form-control" onchange="myFunction()" name="type" >
                        <% for(var i=0; i<items.length; i++){ %>
                            <option value="<%=items[i].type%>"><%= items[i].type %> </option>
                            
                        <% } %>

                    </select>
                </div>


                <div class="form-group">
                    <input class="form-control" type="text" name="source" placeholder="المصدر" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number"  name="amount" placeholder="الكمية" required>
                </div>
                <h6>سعر الجملة للقطعة</h6>
                <div class="form-group">
                    <input id="in"class="form-control" type="number" step="any" name="wholesalePrice"   required>
                </div>
                <h6>تاريخ وصول المشتريات</h6>
                <div class="form-group">
                    <input class="form-control" type="date" name="dateDelivered" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="notes" placeholder="ملاحظات أخرى">
                </div>
                <div class="form-group">
                    <button name="myButton" class="btn btn-lg btn-primary btn-block">إدخال </button>
                </div>
            </form>
            <a href="/purchase">رجوع للصفحة السابقة </a>
        </div>
    </div>

</div>

<script>
    items = JSON.parse(items);
    myFunction();
    function myFunction(){ 
        var it = document.getElementById("it").value;
        console.log(items);
        for(var i=0; i<items.length; i++){ 
            console.log(it);
            console.log(items[i].type);
            if(it==items[i].type){
                document.getElementById("in").value = items[i].originalPrice;
            }
        }
    }

</script>

<%- include("./partials/footer")%>