<%- include("./partials/header")%>
<div class="collapse navbar-collapse" id="example-1">
    <% if(currentUser) {%>
    <ul class="nav navbar-nav">
        <li><a href="/purchase">مشتريات </a></li>
        <li><a  href="/order">طلبيات</a></li>
        <li><a  style="color: #fff;background-color:#337ab7 ; " href="/wholesale">جملة</a></li>
        <li><a  href="/sale">مبيعات</a></li>
        <li><a href="/math">محاسبة</a></li>

    </ul>
  <% } %>
    <ul class="nav navbar-nav navbar-left">
        <% if(!currentUser) { %>
        <li><a class="nav-link" href="/login">دخول</a></li>
        <li><a class="nav-link" href="/register">تسجيل</a></li>
        <% } else { %>
        <li><a class="nav-link" href="/logout">خروج</a></li>
        <% } %>
    </ul>
  </div>
    
</div>
</nav>
<div class="container">

    <div class="row">
        <h1 style="text-align: center; font-weight: bold;">إضافة طلبية جملة</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/wholesale/new" method="POST">
                <script>
                    var items = '<%- JSON.stringify(items) %>'  
                 </script>
                <div class="form-group">
                    <input class="form-control" type="text" name="personName" placeholder="إسم المتجر" required>
                </div>
                <h6>تاريخ الإستلام</h6>
                <div class="form-group">
                    <input class="form-control" type="date"  name="dateToCompany"  required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text"  name="personLocation" placeholder="مكان المتجر ">
                </div>
                <h6>رقم صاحب المتجر </h6>
                <div class="form-group">
                    <input class="form-control" type="text"  name="personNumber" value="-">
                </div>
                <h6>الخصم إن وُجد</h6>
                <div class="form-group">
                    <input class="form-control" type="number" step="any" name="discount" value="0" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="notes" placeholder="ملاحظات" >
                </div>
                <br>
                <h4>الطلبية </h4>
                <div id ="order_items">
                    <div>
                        <div class="form-group">
                            <select class="form-control" name="orderItem[0][type]" >
                                <% for(var i=0; i<items.length; i++){ %>
                                    <option value="<%=items[i].type%>"><%= items[i].type %> </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number"  name="orderItem[0][amount]" placeholder="الكمية" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" step="any" name="orderItem[0][priceForEach]" placeholder="سعر البيع " required>
                        </div>
                    </div>
                </div>
                <div onclick="myFunction()" style="border: 1px solid #ccc; border-radius: 4px; text-align:center; width:10%; padding: 3px 6px;  justify-content: center; margin: 0 auto;  background-color: #e5e5e5;">
                    +                        
                </div>
                <div class="form-group" style = "margin-top: 12px;"> 
                    <button class="btn btn-lg btn-primary btn-block">إدخال </button>
                </div>
            </form>
            <a href="/wholesale">رجوع للصفحة السابقة </a>
        </div>
    </div>

</div>
<script>
    items = JSON.parse(items);
    var k=0;
    function myFunction(){
        k++;
        let inner="";
        inner+='<div class="form-group"><select class="form-control" name="orderItem['+k+'][type]" >';
        for(var i=0; i<items.length; i++){ 
            inner+='<option value="'+items[i].type+'">'+items[i].type+'</option>';
        }
        inner+='</select></div><div class="form-group"><input class="form-control" type="number"  name="orderItem['+k+'][amount]" placeholder="الكمية" required></div><div class="form-group"><input class="form-control" type="number" step="any" name="orderItem['+k+'][priceForEach]" placeholder="سعر البيع " required></div>';
        var e = document.createElement('div');
        e.innerHTML = inner;
        document.getElementById("order_items").appendChild(e);    }
</script>



<%- include("./partials/footer")%>